@charset "UTF-8";
/* line 3, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
body {
  font-family: 'Open Sans', sans-serif, black;
  line-height: 2em;
  text-align: center;
}

/* line 9, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.container.fluid {
  width: 100%;
  margin: 0;
  border: 0;
  padding-bottom: 530px;
  background-image: url("Img/kitkat.jpg");
  background-color: white;
  background-size: cover;
  opacity: 1;
  text-align: center;
  color: black;
  overflow: hidden;
}

/* line 22, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.row {
  color: black;
  padding-top: 10;
  position: absolute;
  line-height: 4em;
}

/* line 30, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.container.whytf {
  background-image: url("Img/robin.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
}

/* line 40, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.row-fluid.parallax {
  background-image: url("/Img/red.jpg");
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

/* line 48, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.container.register {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Everything old */
/* line 56, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.btn {
  background-color: #000000;
  border-color: #000000;
}

/* line 61, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.btn:hover {
  background-color: #fff;
  border-color: black;
  color: black;
}

/*turning the login fields into single lines*/
/* line 69, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.form-control:focus {
  border: 0px;
  border-bottom: 1px solid black;
  box-shadow: white;
  border-radius: 0px;
}

/* line 76, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.form-control {
  width: 300px;
  align: "center";
}

/* line 81, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.navbar-inverse {
  background-color: #FFFFFF;
}

/* line 85, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.navbar-brand:  {
  color: #000000;
  font-style: bold;
}

/* line 91, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.navbar-collapse {
  background-color: #FFFFFF;
}

/* line 95, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.navbar-brand {
  color: #FFFFFF;
}

/* line 99, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.list-inline {
  color: #0b988d;
}

/* line 104, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.carousel-inner > .item > img {
  margin: 0 auto;
}

/* line 109, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.item {
  padding-left: 35px;
}

/* line 114, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.item.last {
  padding-right: 20px;
}

/* line 119, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.contact-form {
  text-align: left;
  margin: 0 auto;
  width: 250px;
}

/* line 126, /Users/fwittled/Desktop/testProject/app/assets/stylesheets/styles.css.scss.css */
.parallax h2 {
  line-height: 300px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

