<body data-spy="scroll" data-target=".wrapper">

  <!-- responsive slider -->
  <!--<div id="wrapper">
      <ul class="container wrapper">-->
    <div class="container fluid">
      <div class="row">
  <div class="col-xs-6 col-sm-3">
    <li class>
      <a href="#register">Register</a>
    </li>
    </div>
  <div class="col-xs-6 col-sm-3">
    <li class>
      <a href="#breaks">Breaks</a>
    </li>  
  </div>
  <div class="col-xs-6 col-sm-3">
     <li class>
      <a href="#whytf">WhyTF?</a>
     </li>  
  </div>
  <div class="col-xs-6 col-sm-3">
     <li class>
      <a href="#about">About</a>
     </li>
  </div>
  </div>
       <div class="inner">
        <br>
        <br>
    <h2> Have a Break </h2>
       </div>

    </div>
 <!-- </ul> 
  </div> -->
    <!-- responsive slider END-->
     
  <!-- preregister via mail-->  
   <div class="container register" id="register">
    <form>
     Enter your E-mail to list up:
     <input type="email" name="email">
    </form>
  </div> 
 <!-- preregister via mail END-->

 <!-- Breaks with parallax -->
  <div class="row-fluid parallax" data-stellar-background-ratio="0.5">
      <h2> </h2>
    </div>   

<div class="Breaks" id="breaks">
  <h2> Here and there some Happyness!</h2>
</div>   
  
  <div class="row-fluid parallax" data-stellar-background-ratio="0.5">
      <h2> </h2>
  </div>  

<div class= "container whytf" id="whytf">
 <h2> WhyTF?</h2>
 <br>
 <br>
 <iframe width="420" height="315" src="//www.youtube.com/embed/YOo2uuTxYtI" frameborder="0" allowfullscreen></iframe>
</div>

<div class= "container about" id="about">
  <div class="parallax scrolly-invisible" data-velocity="-.1" style="background-position: 50% -138.2px;"></div>
  <br>
  <br>
 <h2> About </h2>
  <br>
 <p><img src="Img/froh.jpg" alt="Wenn du froh sein willst, dann sei es"></p>
  <br>
</div>

 <!-- Breaks with parallax END-->

    <div class="container">
      <footer>
        <ul class="list-inline">
          <li><a href="/impressum.html">Impressum</a></li>
        </ul>
        <p class="text-right"><small>&copy; Have A Break Inc. 2014</small></p>
      </footer>
    </div> 

<!-- Small modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>