<html>

<body>

<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": ".grid-sizer", "itemSelector": ".item" }'>
  <div class="item">...</div>
  <div class="item w2">khevziu</div>
  <div class="item">kheviz</div>
</div>

<div id="column-width-demo2">
  <div class="grid-sizer"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>

  </body>

 
</html>

