<html>

<head>

<script type="text/javascript">
  document.createElement('video');document.createElement('audio');document.createElement('track');
</script>

<link href="../stylesheets/video-js.css" rel="stylesheet">
<script src="../javascripts/video.js"></script>
<script>
  videojs.options.flash.swf = "../javascripts/video-js.swf"
</script>

<script>

videojs("87150445").ready(function(){
  var myPlayer = 87150445;

  // EXAMPLE: Start playing the video.
  myPlayer.play();

});

         $().ready(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://vimeo.com/87150445',{ambient:true});
});
        </script>

    </head>

<body>

<div id="big-video-wrap">


<div id="header" class="logo">
    </div>
<div class="row">
        <div class="span12">
            <ul>
 
                <li>Stores</li>
                <li>About</li>
                <li>Tasche</li>
                <li>Contact us</li>

            </ul>
        </div>
    </div>

</div>

</body>
</html>

