<html>

<head>
        <script type="text/javascript">
$(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://vjs.zencdn.net/v/oceans.mp4',{ambient:true});
});
        </script>

    </head>

<body>

<div id="big-video-wrap">


<div id="header" class="logo">
    </div>
<div class="row">
        <div class="span12">
            <ul>
 
                <li>Stores</li>
                <li>About</li>
                <li>Tasche</li>
                <li>Contact us</li>

            </ul>
        </div>
    </div>

</div>

</body>
</html>

