<html>

<head>

<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.11/video.js"></script>

<script>

BV = new $.BigVideo({forceAutoplay    :isTouch});

BV.init();
showVideo();

BV.getPlayer().            addEvent(‘loadeddata’, function(){
onVideoLoaded();
});

function showVideo() {
BV.show($(‘.wrapper .screen:nth-    child(1)’).attr(‘data-video’),{ambient:true});
$(‘.wrapper .screen .big-image’).    css({opacity:1});
}

function onVideoLoaded() {
$(‘.wrapper .screen:nth-    
child(1)’).find(‘.big-image’).        animate({opacity:0},500);
   }

 </script>

    </head>

<body>

   <header>
	        <h1>Von Hamburgern für die Welt</h1>
	 </header>

<div class='wrapper'>
<div class='screen' id='screen-1' data-    video='../../video/RetrospectiveHH.mp4'>
<img src='../../Img/coverhh.png'         class='big-image' />
</div>
</div>


</body>
</html>

