<body data-spy="scroll" data-target=".wrapper">


    <div class="Inc">
      <footer>
        <p class="text-right"><small>&copy; Franziska Wittleder Inc. 2014</small></p>
      </footer>
    </div> 

<!-- Small modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>