<html>

<body data-spy="scroll" data-target=".container">


<div id="container" class="js-masonry"
  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
  <div class="item">egg</div>
  <div class="item w2">hot</div>
  <div class="item">...</div>
</div>

  </body>

<script src="/path/to/masonry.pkgd.min.js"></script>

</html>

