<html>

<head>

<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.11/video.js"></script>

<script>

videojs("87150445").ready(function(){
  var myPlayer = 87150445;

  // EXAMPLE: Start playing the video.
  myPlayer.play();

});

         $().ready(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://vimeo.com/87150445',{ambient:true});
});
        </script>

    </head>

<body>

<div id="big-video-wrap">
<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  poster="http://patoa.files.wordpress.com/2008/03/dreizehntes.png%3Fw%3D700"
  data-setup='{"example_option":true}'>
 <source src="http://vimeo.com/87150445" type='video' />
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>



</div>

</body>
</html>

