<html>

<head>

<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.11/video.js"></script>

<script>

$(document).ready(function() {
  var BV,
				      isTouch = Modernizr.touch,
				      $window = $(window);
  
  if (!isTouch) {
    BV = new $.BigVideo({forceAutoplay:isTouch});
    BV.init();
    showVideo();

    BV.getPlayer().addEvent('loadeddata', function() {
      onVideoLoaded();
    });
  }
  function showVideo() {
    BV.show($('.wrapper .screen:nth-child(1)').attr('data-video'), { ambient: true });
    $('.wrapper .screen .big-image').css({ opacity: 1 });
  }

  function onVideoLoaded() {
    $('.wrapper .screen:nth-child(1)').find('.big-image').animate({ opacity: 0 }, 500);
  }
});

 </script>

    </head>

<body>

<!--/.Video-Background.Start -->
<div class="wrapper">
  <div class="screen" id="screen-1" data-video="http://vimeo.com/87150445">
    <img src="../../Img/speicher.jpg" class="big-image" />

<!--/.navbar-start -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div type="text" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <a class="navbar-brand" href="#">Von Hamburgern<br>für die Welt</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <a href="/stores.html">Products</a>
            </div>
            <div class="form-group">
              <a href="/contact.html.erb">Creatives</a>
            </div>
           <div class="form-group">
              <a href="/tasche.html">Bag</a>
            </div>
            
        </div><!--/.navbar-collapse -->
     </div>
     </div>



  </div>
</div><!--/.Video-Background.End -->
</body>
</html>

