
<html>
<Head>


 <script>

$.stellar({
    horizontalScrolling: false,
    responsive: true
})

 </script>


</Head>

 <body>

 <div class="jumbotron">
 <div class="container">
  <h1> What do we do here? </h1>
</div>
</div>


<div class="content" id="content1" data-stellar-background-ratio="0.5">

<div class:"Creative_1" >
<h2> coaching </h2>
<h2> approach </h2>
<h2> clients </h2>
</div>

<div <div class="content" id="content2" data-stellar-background-ratio="0.5">

 <!-- Breaks with parallax END-->



</body>
</html>
