<!DOCTYPE html>
<html>
<head>
  <title>TestProject</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="favicon" href="logo.png" type="image/x-icon" />

</head>

<body>
<h1> haveabreak <h1>
<%= yield %>

</body>
</html>
