<!DOCTYPE html>
<html>
<head>
  <title>TestProject</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>

<body>
 <img src="public/Img/Logo.png" alt="Logo" style="width:304px;height:228px">
<h1> haveabreak <h1>
<%= yield %>

</body>
</html>
