

.masonryImage {
    width: 341px;
    height: 234px;
    margin-bottom: none;
}

.masonryImage.w1 {
    width: 341px;
    height: 470px;
    margin-bottom: none;
}

.masonryImage.w2 {
    width: 341px;
    height: 468px;
    margin-bottom: none;
}



.mosaicflow__column {
    float:left;
    width: 341px;
    }
    
.mosaicflow__item img {
    display:block;
    width: 341px;
    height: 234px;
}

.mosaicflow__item {
    clientWidth: 341px;
}
