

.clearfix.mosaicflow {
	visibility: visible;
	position: relative; 
	overflow: hidden; 
	height: 4930px;
}

.mosaicflow__column {
    width: 341px;
    float: left;
}

.mosaicflow.item  { 
position: relative;
width: 341px;
}


.mosaicflow.item img { 
display:block; 
width: 25%; 
height:auto; 
max-width: 341px;
}

div {
	display:block;
}

