
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
		font-family: 'Droid Sans', sans-serif;
}

.logo {
	background-image: url('../../Img/logos.png');
	background-position: center;
    background-size: 400px 143px;;
    background-repeat: no-repeat;
    padding-top: 40px;
	padding-bottom: 140px;
}


#header {
	font-family: 'Droid Sans', sans-serif;
	line-height: 1em;
	text-align: center;
	font-size: 50px;
}

.span12 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 17px;
	text-align: center;
}

ul { 
text-position: 40%; 
list-style:none;
}

li { 
display: inline-block;
list-style: none;
padding-left: 10px;
padding-right: 10px; 
}

.span12 ul li a:hover {
   background:#000;
   color:#FFFFFF;
}


.footerhold {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll;
    height: 30px;
    margin: auto;
    width: 400px;
}
