
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
		font-family: 'Droid Sans', sans-serif;
        color: #FFFFFF;
        text-align: center;
}


.navbar {
padding-bottom: 2px;
padding-top: 2px;
font-size: 1em;
padding-left: 3px;
opacity: 0.5;
color: #FFFFFF;
backgroundcolor: 000;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: 120;
}

.navbar-toogle a {
    color: white;
    hover: off;
}

.navbar-collapse {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-collapse a {
    color: white;
    font-weight: 100;
    padding-left: 20px;
}

.container {
    color: #FFFFFF
}

.footerhold {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.footerhold a {
    color: white;
    font-size: 1em;
    padding-bottom: 2px;
}

.footer {
    background: none repeat scroll;
    height: 30px;
    margin: auto;
    width: 400px;
    color: white;
    font-size: 15px;
}
