.jumbotron {
background-image: url("../../Img/beetroot.jpg");
width: 100%;
padding-bottom: 40px;
}

.container h1 {
	color: black;
	font-size: 20px;
	font-weight: 110;
	padding-top: 8px;
	padding-right: 180px;
}

#content1 {
  background-image: url('../../Img/coaching.jpg');
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
}
