.item { width: 25%; }
.item.w2 { width: 50%; }

var $container = $('#container');
// initialize
$container.masonry({
  columnWidth: 200,
  itemSelector: '.item'
});

var msnry = $container.data('masonry');

.item {
  background-image: url('/public/Img/egg.jpg')
  }