

body {
  font-family: 'Open Sans', sans-serif, black; 
  line-height: 2em;
  text-align: center;
  } 

.container.fluid {
  width: 100%;
  margin: 0; border: 0;
  padding-bottom: 530px;
  background-image: url('Img/kitkat.jpg');
  background-color: white;
  background-size: cover;
  opacity: 1;
  text-align: center;
  color: black;
  overflow: hidden
} 

.row {
  color: black;
  padding-top: 10;
  position: absolute;
  line-height: 4em;

}
.container.whytf {
  background-image: url('Img/robin.jpg');
  padding-top: 100px;
  padding-bottom:100px;
  background-size: cover;

}



.row-fluid.parallax {
  background-image: url('/Img/red.jpg');
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.container.register {
  padding-top: 100px;
  padding-bottom: 100px;
}


/* Everything old */

.btn {
  background-color: #000000;
  border-color: #000000;
}

.btn:hover {
  background-color: #fff;
  border-color: black;
  color: black;
}

/*turning the login fields into single lines*/

.form-control:focus  {
  border: 0px;
  border-bottom: 1px solid black;
  box-shadow: white;
  border-radius: 0px;
}

.form-control {
  width: 300px;
  align:"center";
}

.navbar-inverse {
background-color: #FFFFFF;
}

.navbar-brand: {
  color: #000000;
  font-style: bold;
}


.navbar-collapse{
background-color: #FFFFFF;
color: #0000;
}

.navbar-brand{
color: #FFFFFF;
}

.list-inline {
  color: #0b988d;
}






.carousel-inner > .item > img {
    margin: 0 auto;
}


.item {
  padding-left: 35px;

}

.item.last {
padding-right: 20px;
}


.contact-form {
  text-align: left;
  margin: 0 auto;
  width: 250px;
}


.parallax h2 {
  line-height: 300px;
}

.footer {
  color: #000000;
	background-color: #FFFFFF;


  



