<!DOCTYPE html>
<html>
<head>
  <title>Von Hamburgern für die Welt</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>

<body>

    <div class="twelve columns">
    <div class="logo">
    <h1> Von Hamburgern </h1>
    <p> für die Welt </p>
    </div>
    <div class="sticky wrapper">
    <div id="primary-nav" class="main-menu hide-for-small" role="navigation">
    <ul id="primary-menu" class="main-menu hide-for-small">
    	<li class="Stores">
   			 <a href="http://powerful-harbor-7972.herokuapp.com/pages/stores">Stores</a>
   		 </li>
  		  <li class="Tasche">
  			  <a href="http://powerful-harbor-7972.herokuapp.com/pages/tasche">Tasche</a>
  		  </li>
  		  <li class="Contact Us">
  			  <a href="http://powerful-harbor-7972.herokuapp.com/pages/contact">Contact Us</a>
   		 </li>
   		 <li class="About">
   			 <a href="http://powerful-harbor-7972.herokuapp.com/pages/about">About</a>
   		 </li>
   		 </ul>
   	 </div>
     </div>
   </div>

<%= yield %>

</body>

</html>
