<!DOCTYPE html>
<html>
<head>

  <title>von hamburgern für die welt</title>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


   <script>
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options...
  itemSelector: '.item',
  columnWidth: 200
});
   </script>

   <script>
// initialize Masonry
var msnry = new Masonry( container );
// layout Masonry again after all images have loaded
imagesLoaded( container, function() {
  msnry.layout();
});
   </script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>



 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
 
  <%= csrf_meta_tags %>

</head>

<body>

    <div id="header" class="logo">
    </div>
<div class="row">
        <div class="span12">
            <ul>
 
                <li>Stores</li>
                <li>About</li>
                <li>Tasche</li>
                <li>Contact us</li>

            </ul>
        </div>
    </div>

<%= yield %>


</body>

    <div class="footerhold">
      <footer>
        <p class="footer"> &copy; Fronz Fruchtzwerg Inc. 2014 </p>
      </footer>
    </div> 



</html>


